<h2>루비온레일스 가이드 (<%= @version %>)</h2>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, based on the current <a href="https://github.com/rails/rails/tree/<%= @version %>">master</a> branch.
</p>
<p>
  If you are looking for the ones for the stable version, please check
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a> instead.
</p>
<% else %>
<p>
  이것은 레일스 3.2 버전에 대한 새 가이드로서 <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>에 근거합니다.
  본 가이드는 레일스를 이용하여 바로 웹을 개발할 수 있도록 고안되었으며 코드들이 상호작용하는 방법을 이해하도록 도와 줍니다.
</p>
<% end %>
<p>
  레일스 2.3.x 버전에 대한 가이드는 <a href="http://guides.rubyonrails.org/v2.3.11/">http://guides.rubyonrails.org/v2.3.11/</a> 을 보시기 바랍니다.
</p>
 