# Don't put *.swp, *.bak, etc here; those belong in a global ~/.gitignore.
# Check out http://help.github.com/ignore-files/ for how to set that up.

.DS_Store
debug.log
.Gemfile
/.bundle
/.rbenv-version
/.rvmrc
/Gemfile.lock
/pkg
/dist
/doc/rdoc
/*/doc
/*/test/tmp
/activerecord/sqlnet.log
/activemodel/test/fixtures/fixture_database.sqlite3
/activesupport/test/fixtures/isolation_test
/railties/test/500.html
/railties/test/fixtures/tmp
/railties/test/initializer/root/log
/railties/doc
/railties/tmp
/guides/output
/RDOC_MAIN.rdoc

guides/pkg/
guides/.rvmrc
guides/code/getting_started/Gemfile.lock
guides/Rakefile
/.rvmrc.11.20.2012-08:55:36
/Rakefile.bak
vendor/bundle