<h2>루비온레일스 가이드 (<%= @version %>)</h2>

<% if @edge %>
<p>
  이 가이드는 현재 <a href="https://github.com/rorlab/docrails/tree/<%= @version %>">master</a> 브랜치에 근거하여 작성한 <b>Edge Guides</b>입니다.
</p>
<p>
  안정화 버전의 가이드 내용을 원한다면 
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>을 확인하기 바랍니다.
</p>
<% else %>
<p>
  이것은 <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>에 근거한 레일스 3.2 버전에 대한 새로운 가이드이다. 본 가이드는 레일스로 바로 운영할 수 있는 웹어플리케이션을 만들 수 있도록 디자인되어 있고 모든 코드들이 서로 잘 동작하는 방법을 이해할 수 있도록 도와 준다. 
</p>
<% end %>
<p>
  레일스 2.3.x 버전에 대한 기이드는 <a href="http://guides.rubyonrails.org/v2.3.11/">http://guides.rubyonrails.org/v2.3.11/</a>에서 볼 수 있다. 
</p>
